:root{
    --fundo: #000000;
    --botoes-procura: #3a4c62;
    --botoes-data: #525252;
    --titulos:#c0b1a1;
    --texto: #cdc6bb;
}

 h1{
    font-family: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
 }