:root{
    --fundo: #000000;
    --botoes-procura: #3a4c62;
    --botoes-data: #525252;
    --titulos:#c0b1a1;
    --texto: #cdc6bb;
}

@font-face{
    font-family: 'bernoru';
    src: url(fonte/bernoru-blackultraexpanded.otf);
}

@font-face{
    font-family: 'open sans';
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
}

main{
    width: 100%;
    height: 115vh;
    display: block;
}

*{
    background-color: var(--fundo);
}

h1{
    font-family: 'bernoru';
    color: var(--texto);
    font-size: 8vh;
    margin-top: 10vh;
    margin-left: 8vh;
}

.texto{
    font-family: 'open sans';
    color: #cdc6bb;
    font-size: 3vh;
    margin-left: 8vh;
}

#texto{
    width: 76vw;
    height: 20vw;
    margin-top: 5vh;
}

#imagem1{
    width:56vh;
    height: 56vh;
    position: absolute;
    right: 0vw;
    top: 0vw;
}

#imagem2{
    width:58vh;
    height: 58vh;
    position: absolute;
    left: -4vh;
    top: 60%;
    float: left;
}

#imagem3{
    width:58vh;
    height: 58vh;
    position: absolute;
    left: -4vh;
    top: 130%;
    float: left;
}


.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    background-color: var(--fundo);
    border-radius: 15px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    padding: 20px;
}

h2 {
    color: var(--texto); 
}

h3{
    color: var(--texto);
}

#result-description{
    color: var(--texto);
}

option{
    color: var(--texto);
}

.date-selection {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

select {
    padding: 10px;
    border: 2px solid var(--botoes-procura); 
    border-radius: 20px; 
    font-size: 16px;
    background-color: var(--texto); 
    margin: 0 5px;
    transition: border-color 0.3s;
}

select:focus {
    border-color: var(--botoes-procura); 
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: var(--botoes-procura); 
    color: var(--texto);
    border: none;
    border-radius: 20px; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; 
}

button:hover {
    background-color: var(--botoes-procura); 
    transform: scale(1.05);
}

.result {
    margin-top: 20px;
}

img {
    max-width: 100%; 
    border-radius: 10px;
    margin-top: 10px;
}

#jogaprolado{
    margin-right: 17vw;
    margin-top: -6vw;
    float: right;
}

footer{
    width: 100%;
    height: 30vh;
    display: block;
    background-color: var(--fundo);
    margin-top: 130vh;
}
footer #icons{
    margin-left: 5vw;
    float: left;
    margin-top: 2vh;

}
footer i{
    color: var(--texto);
    margin-left: 1vw;
    font-size: 30px !important;
}

footer .textos{
    float: left;
}

footer #nomes {
    width: 10vw;
    float: left;
    margin-left: 10vw;
    margin-top: 2vh;
    line-height: 5vh;
}
footer #nomes :hover{
    color: var(--botoes-procura);
    text-decoration: none;
}
footer #frase{
    width: 30vw;
}
footer #frase p{
    color: var(--texto);
    font-size: 4vh;
    font-family: open sans;
    margin-left: 7vw;
    line-height: 6vh;
}
footer .textos p, a{
    color: var(--texto);
    font-size: 15px;
    font-family: open sans;
    margin-top: 2vh;
    margin-left: 2vw;
    text-decoration: none;
}
footer #email{
    width: 15vw;
    margin-left: 3vw;
}