:root{
    --fundo: #000000;
    --botoes-procura: #3a4c62;
    --botoes-data: #525252;
    --titulos:#c0b1a1;
    --texto: #cdc6bb;
}
.alegreya-sc-regular {
    font-family: "Alegreya SC", serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-family: "Alegreya SC", serif;
}