:root{
    --fundo: #000000;
    --botoes-procura: #3a4c62;
    --botoes-data: #525252;
    --titulos:#c0b1a1;
    --texto: #cdc6bb;
}

@font-face{
    font-family: 'bernoru';
    src: url(fonte/bernoru-blackultraexpanded.otf);
}

@font-face{
    font-family: 'open sans';
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
}
main{
    width: 100%;
    height: 100vh;
    display: block;
}

*{
    background-color: var(--fundo);
}

h1{
    font-family: 'bernoru';
    color: var(--texto);
    font-size: 8vh;
    margin-top: 10vh;
    margin-left: 8vh;
}

#tit{
    width: 76vw;
    height: 20vw;
}

.texto{
    font-family: 'open sans';
    color: #cdc6bb;
    font-size: 3vh;
    margin-left: 8vh;
    margin-top: 15px;

}

h4{
    margin-top: 0px;
    margin-bottom: 2px;
}
#texto{
    width: 76vw;
    height: 20vw;
    margin-top: -26vh;
}

.button {
    font-family: open sans;
    font-size:16px;
    border-radius:40px;
    padding-left:10px;
    padding-right:10px;
    padding-top:4px;
    padding-bottom:5px;
    color:var(--texto);
    background-color:var(--botoes-procura);
    outline:none;
    border:none;
    cursor:pointer;
    display:inline-block;
    text-decoration: none;
    transition: .4s;
    z-index: 1;
    
}



    .button:hover {
    color:#ffffff;
    background-color: var(--botoes-data);
}

#anonovo{
    margin-top: -13vw;
}

#primeirodia{
    margin-top: 3vw;
}

#meioambiente{
    margin-top: 3vw;
}

#natal{
    margin-top: -13vw;
}

#finados{
    margin-top: 3vw;
}

#mulher{
    margin-top: 3vw;
}

#imagem1{
    width:44vh;
    height: 44vh;
    position: absolute;
    right: 1vw;
    top: 2vw;
}

#esquerda{
    float: left;
}

#direita{
    float: left;
    margin-left: 9vh;
}

footer{
    width: 100%;
    height: 30vh;
    display: block;
    background-color: var(--fundo);
}
footer #icons{
    margin-left: 5vw;
    float: left;
    margin-top: 2vh;

}
footer i{
    color: var(--texto);
    margin-left: 1vw;
    font-size: 30px !important;
}

footer .textos{
    float: left;
}

footer #nomes {
    width: 12vw;
    float: left;
    margin-left: 10vw;
    margin-top: 2vh;
    line-height: 5vh;
}
footer #nomes :hover{
    color: var(--botoes-procura);
}
footer #frase{
    width: 30vw;
}
footer #frase p{
    color: var(--texto);
    font-size: 4vh;
    margin-left: 7vw;
    line-height: 6vh;
}

footer .textos p, a{
    color: var(--texto);
    font-size: 15px;
    margin-top: 2vh;
    margin-left: 2vw;
    text-decoration: none;
}
footer #email{
    width: 15vw;
    margin-left: 3vw;
    line-height: 5vh;
}

