:root{
    --fundo: #000000;
    --botoes-procura: #3a4c62;
    --botoes-data: #525252;
    --titulos:#c0b1a1;
    --texto: #cdc6bb;
}
.alegreya-sc-regular {
    font-family: "Alegreya SC", serif;
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'open sans';
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
}

@font-face{
    font-family: 'bernoru';
    src: url(fonte/bernoru-blackultraexpanded.otf);
}
header{
    width: 100%;
    height: 100vh;
    display: block;
    background-color: #000000;
    
}
#Imglogo{
    width: 6vw;
    height: 12vh;
    margin-top: 6vh;
    margin-left: 4vw;
}

.dropbtn {
    background-color: #000000;
    color: white;
    padding: 16px;
    font-size: 13px;
    border: none;
  }
  
  


  .dropbtn{
    width: 64vw;
  }
  #drop1{
    display: inline-flex;
    font-family: 'open sans';
  }
  #drop2{
    display: inline-flex;
    margin-left: 5vw;
    font-family: 'open sans';
  }
  #drop3{
    display: inline-flex;
    margin-left: 5vw;
    font-family: 'open sans';
  }
  #drop4{
    display: inline-flex;
    margin-left: 5vw;
    font-family: 'open sans';
  }
  #drop5{
    display: inline-flex;
    margin-left: 5vw;
    font-family: 'open sans';
  }
  .explic{
    font-size: 10px;
    margin-left: 0px;
  }
  #td1{
    margin-left: 45px;
    font-size: 10px;
    margin-right: 1px;
    width: 90px;
    font-family: 'open sans';
  }
  #td2{
    margin-right: -10px;
    font-size: 10px;
    margin-left: 10px;
    width: 140px;
    font-family: 'open sans';
  }
  #td3{
    margin-left: 30px;
    font-size: 10px;
    font-family: 'open sans';
    width: 150px;
  }
  #td4{
    margin-left: 30px;
    font-size: 10px;
    font-family: 'open sans';
    width: 100px;
  
  }
  #td5{
    margin-right: 20px;
    margin-left: 10px;
    font-size: 10px;
    font-family: 'open sans';
    width: 100px;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left:200px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 60vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 20vw;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #000000;}


#tprincipal{
    font-family: 'bernoru';
    color: #c0b1a1;
    font-size: 8vh;
}

#ttprincipal{
    width: 40vw;
    height: 30vh;
    margin-left: 10vw;
    margin-top: 10vh;
}
#retanguloi{
    width: 15vw;
    height: 2vh;
    background-color: #c0b1a1;
    margin-top: 2vh;
    margin-left: 10vw;
}
#divsubti{
    width: 35vw;
    padding-top: 5vh;
}
#subti{
    color: #c0b1a1;
    font-family: 'open sans';
    font-size: 3.5vh;
    width: 35vw;
}
#divplanetapi{
    float: left;
    margin-top: 0%;
    width: 40vw;
    margin-top: 0%;
    padding-top: 0%;
}
#planetapi{
    float: left;
    width: 40vw;
    height: 80vh;
    margin-left: 55vw;
    margin-top: 0%;
    padding-top: 0%;
    margin-bottom: 200px;
    position: absolute;
}
#teste{
    width: 40vw;
    height: 80vh;
    background-color: aqua;
    margin-left: 55vw;
    position: absolute;
}
#imgteste{
    width: 40vw;
    height: 80vh;
}
main {
    width: 100%;
    height: 110vh;
    display: block;
    background-color: var(--fundo);
    padding-top: 80px;
}

#linha {
    background-color: var(--titulos);
    width: 25vw;
    height: 1vh;
    display: block;
    margin-left: 300px;
}
main h2{
    color: var(--titulos);
    margin-left: 300px;
    font-family: bernoru;
    font-size: 30px;
}
main .opcoes{
    width: 35vw;
    margin-left: 150px;
    float: left;

}
main #num1{
    margin-bottom: 3vh;
}
main #num2{
    width: 12vw;
}
main .imgnum{
    width: 10vw;
}

main .imgdois{
    width: 20vw;
    margin-left: 2vw;
}
.opcoes h3{
    color: var(--texto);
    font-size: 20px;
    font-family: open sans;
}

.opcoes p{
    color: var(--texto);
    font-size: 13px;
    font-family: open sans;
}
.button {
    font-family: open sans;   
    font-size:16px;    
    border-radius:40px;    
    padding-left:10px;    
    padding-right:10px;    
    padding-top:5px;    
    padding-bottom:5px;    
    color:var(--texto);    
    background-color:var(--botoes-procura);    
    outline:none;    
    border:none;    
    cursor:pointer;    
    display:inline-block;    
    text-decoration: none;  
    transition: .4s;
}
    
.button:hover {
    color:#ffffff;
    background-color:#414141;    
}
footer{
    width: 100%;
    height: 30vh;
    display: block;
    background-color: var(--fundo);
}
footer #icons{
    margin-left: 5vw;
    float: left;
    margin-top: 2vh;

}
footer i{
    color: var(--texto);
    margin-left: 1vw;
    font-size: 30px !important;
}

footer .textos{
    float: left;
}

footer #nomes {
    width: 10vw;
    float: left;
    margin-left: 10vw;
    margin-top: 2vh;
}
footer #frase{
    width: 30vw;
}
footer #frase p{
    color: var(--texto);
    font-size: 4vh;
    font-family: open sans;
    margin-left: 7vw;
}

@media screen {
    
}
footer .textos p, a{
    color: var(--texto);
    font-size: 15px;
    font-family: open sans;
    margin-top: 2vh;
    margin-left: 2vw;
    text-decoration: none;
}
footer #email{
    width: 15vw;
    margin-left: 3vw;
}

